# for number crunching
numpy
pandas
xlrd
docx2txt

# for scraping
scrapy
lxml

requests

# for deployment
# this is better (python 3 compatible), but has no fabtools!!
fabric3
#fabric
#fabtools
#fake

# for testing
scrapy_tdd
pytest==3.0.3
pytest-bdd==2.18.0
pytest-cov
pytest-describe==0.11.0
pytest-twisted
pytest-watch


# for python 2.7, otherwise remove the version
ftfy==4.4.3

pylint

psutil
genson
jsondiff

openapi-spec-validator